@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.container {
  margin: auto;
  padding: 0 50px 50px;
}

#hero {
  height: 100vh;
  min-height: 400px;
}
#hero .container {
  padding: 25px 30% 100% 50px;
}

#skills {
  background-color: rgba(0, 0, 0, 0.05);
}
#skills .container {
  padding: 30px 0;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

#footer .row {
  justify-content: space-between;
}

.column {
  display: flex;
  flex-flow: column wrap;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*FADE*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/*DELAYS*/
.delay1 {
  -webkit-animation-delay: 0.5s;
  /* Chrome, Safari, Opera */
  animation-delay: 0.5s;
}

.delay2 {
  -webkit-animation-delay: 1s;
  /* Chrome, Safari, Opera */
  animation-delay: 1s;
}

/*BACKGROUND*/
.sherbert {
  animation-name: sherbert;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes sherbert {
  0% {
    background: #F16544;
  }
  100% {
    background: #F93981;
  }
}
h1 {
  font-family: "Arvo", serif;
  letter-spacing: 1px;
  line-height: 54px;
  font-weight: 600;
}
h1 a {
  text-decoration: underline;
}
h1 .name {
  font-size: 58px;
}

h2 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  line-height: 40px;
  font-weight: 100;
}

h3 a {
  text-decoration: none;
}
h3 a:hover {
  text-decoration: none;
}

.no-wrap {
  white-space: nowrap;
}

#hero {
  color: rgba(255, 255, 255, 0.9);
}
#hero h2 {
  font-family: "Arvo", serif;
}
#hero a {
  color: rgba(255, 255, 255, 0.9);
}
#hero a:hover {
  color: rgba(255, 255, 255, 0.7);
}

#about p {
  font-size: 24px;
}

#about h1, #work h1, #contact h1 {
  font-size: 58px;
  letter-spacing: -3px;
  margin-bottom: 30px;
  color: #F16544;
  text-align: center;
}

#about, #skills, #work, #contact {
  color: #000000;
}

#skills h3 {
  color: #F93981;
}

/* Large Devices, Wide Screens */
@media only all and (min-width: 1600px) {
  .container {
    margin: auto;
    padding: 25px 25% 0 50px;
  }
}
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only all and (max-width: 768px) {
  .container {
    margin: auto;
    padding: 25px 50px;
  }

  h1 {
    font-size: 24px;
    line-height: 44px;
  }
  h1 .name {
    font-size: 44px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  overflow: visible;
  z-index: 99;
  padding: 10px 15px 0;
  background-color: #F16544;
  height: 40px;
}
#footer .social, #footer span, #footer a {
  color: #FFFFFF;
  font-size: 12px;
  text-decoration: none;
}
#footer a:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
