.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/*FADE*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hero-fade {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.fade-in {
    opacity: 0;
    transition: 0.3s all ease-out;
    transform: scale(0.8);
}
/*DELAYS*/
.delay1 {
  -webkit-animation-delay: 0.5s; /* Chrome, Safari, Opera */
  animation-delay: 0.5s;
}
.delay2 {
  -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
  animation-delay: 1s;
}
/*BACKGROUND*/
.sherbert {
  animation-name: sherbert;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes sherbert {
   0% {
    background: var(--color-primary);
   }
   100% {
    background: var(--color-primary-light);
   }
}