@charset "UTF-8";
* {
	box-sizing: border-box;
}
body {
	background-color: #FFFFFF;
	font-family: "Candara", Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
}
.container {
	margin: auto;
	padding: 25px 25% 0 50px;
}
#hero {
	height: 100vh;
	min-height: 400px;
	.container {
		padding: 25px 25% 100% 50px;
	}
}