@charset "UTF-8";
* {
	box-sizing: border-box;
}
body {
	background-color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
}
.container {
	margin: auto;
	padding: 0 50px 50px;
}
#hero {
	height: 100vh;
	min-height: 400px;
	.container {
		padding: 25px 30% 100% 50px;
	}
}
#about {
	#values {
		align-items: center;
		padding: 50px 0 25px;
	}
}
#skills {
	background-color: rgba(0,0,0,0.05);
	.container {
		padding: 30px 0;
	}
}
#contact {
	div.photo {
		margin: 30px 0;
		height: 200px;
		width: 200px;
		background-color: #F16544;
	}
}
.row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
}
#footer {
	.row {
		justify-content: space-between;
	}
}
.column {
	display: flex;
	flex-flow: column wrap;

}