#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    overflow: visible;
    z-index: 99;
    padding: 10px 15px 0;
    background-color: #F16544;
    height: 40px;
    .social, span, a {
    	color: #FFFFFF;
    	font-size: 12px;
    	text-decoration: none;
    }
    a:hover {
        color: rgba(255,255,255,0.7);
        text-decoration: none;
    }
}