#footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    overflow: visible;
    z-index: 99;
    padding: 0 15px;
    background-color: #F16544;
    height: 40px;
    a, p {
    	color: #FFFFFF;
    	font-size: 12px;
    	text-decoration: none;
    	text-align: right;
    }
    a:hover {
        color: rgba(255,255,255,0.7);
        text-decoration: none;
    }
}