/* Large Devices, Wide Screens */
@media only all and (min-width : 1600px) {
	#about {
		.container {
			#values, .row {
				width: 50vw;
			}
		}
	}
}
/* Medium Devices, Desktops */
@media only all and (max-width : 992px) {
	#about {
		height: 100%;
		.container {
			.row {
				flex-flow: column;
			}
    		#values {
    			.column {
	    			padding: 15px 0 0;
	    			width: 100%;
	    		}
    		}	
		}
	}
}
