/* Large Devices, Wide Screens */
    @media only all and (min-width : 1600px) {
    	.container {
			margin: auto;
			padding: 25px 25% 0 50px;
		}
    }
    /* Medium Devices, Desktops */
    @media only all and (max-width : 992px) {
	    .portfolio {
	    	-moz-column-count: 3; 
	    	-webkit-column-count: 3; 
	    	column-count: 3;
	    }
	}
    /* Small Devices, Tablets */
    @media only all and (max-width : 768px) {
    	.container {
			margin: auto;
			padding: 25px 50px;
		}
		.portfolio {
			-moz-column-count: 2; 
			-webkit-column-count: 2; 
			column-count: 2;
		}
		.webportfolio {
			-moz-column-count: 1; 
			-webkit-column-count: 1; 
			column-count: 1;
		}
		h1 {
			font-size: 24px;
			line-height: 30px;
		}
		h2 {
			font-size: 18px;
			line-height: 24px;
		}
	}
    /* Extra Small Devices, Phones */ 
    @media only all and (max-width : 480px) {
		.portfolio, .webportfolio {
			-moz-column-count: 1; 
			-webkit-column-count: 1; 
			column-count: 1;
		}
		#footer a, p {
			font-size: 9px;
			text-align: right;
		}
    }
    /* Custom, iPhone Retina */ 
    @media only all and (max-width : 320px) {
	    .portfolio, .webportfolio {
			-moz-column-count: 1; 
			-webkit-column-count: 1; 
			column-count: 1;}
	    }
    }