/* Large Devices, Wide Screens */
    @media only all and (min-width : 1600px) {
    	.container {
			margin: auto;
			padding: 25px 25% 0 50px;
		}
    }
    /* Medium Devices, Desktops */
    @media only all and (max-width : 992px) {
	    
	}
    /* Small Devices, Tablets */
    @media only all and (max-width : 768px) {
    	.container {
			margin: auto;
			padding: 25px 50px;
		}
		h1 {
			font-size: 24px;
			line-height: 44px;
			.name {
				font-size: 44px;
			}
		}
		h2 {
			font-size: 18px;
			line-height: 24px;
		}
	}
    /* Extra Small Devices, Phones */ 
    @media only all and (max-width : 480px) {

    }
    /* Custom, iPhone Retina */ 
    @media only all and (max-width : 320px) {
	    
    }
