h1 {
	color: rgba(255,255,255,0.9);
	font-family: 'Arvo', serif;
	letter-spacing: 1px;
	line-height: 45px;
}
h1 a {
	color: rgba(255,255,255,0.9);
	text-decoration: underline;
}
h1 a:hover {
	color: rgba(255,255,255,0.7);
}
h2 {
	color: rgba(255,255,255,0.9);
	font-family: 'Arvo', serif;
	letter-spacing: 1px;
	line-height: 40px;
}
h3 {
	color: #FFFFFF;
}
h3 a {
	color: rgba(255,255,255,0.9);
	text-decoration: none;
}
h3 a:hover {
	color: rgba(255,255,255,0.7);
	text-decoration: none;
}