h1 {
	font-family: 'Arvo', serif;
	letter-spacing: 1px;
	line-height: 54px;
	font-weight: 600;
	a {
		text-decoration: underline;
	}
	.name {
		font-size: 58px;
	}
}
h2 {
	font-family: 'Arvo', serif;
	font-weight: 600;
}
h3 {
	a {
		text-decoration: none;
	}
	a:hover {
		text-decoration: none;
	}
}
p {
	font-size: 1.25em;
}
.header {
	h1 {
		margin-top: -28px;
		color: #FFFFFF;
		font-size: 58px;
		-webkit-text-stroke: 2px rgba(0,0,0,0.4);
		text-shadow: 2px 2px 1px rgba(0,0,0,0.25);
	}
}
.no-wrap {
	white-space: nowrap;
}
#hero {
	color: rgba(255,255,255,0.9);
	h2 {
		text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
        letter-spacing: 1px;
        line-height: 40px;
        font-weight: 100;
	}
	a {
		color: rgba(255,255,255,0.9);
	}
	a:hover {
		color: rgba(255,255,255,0.7);
	}
}
#about {
	text-align: center;
	.header {
		margin: 0 0 30px;
		h1 {
			-webkit-text-stroke: 2px rgba(0,0,0,0.4);
			text-shadow: 2px 2px 1px rgba(0,0,0,0.25);
		}
	}
	#values {
		font-family: 'Arvo', serif;
		font-weight: 600;
		color: rgba(0,0,0,0.25);
		#intuitive {
			font-size: 30px;
		}
		#ui {
			font-size: 55px;
			color: #F16544;
			text-shadow: 1px 1px 4px rgba(0,0,0,0.25);
		}
		#functional {
			font-size: 30px;
			color: #F16544;
			text-shadow: 1px 1px 4px rgba(0,0,0,0.25);
		}
		#components {
			font-size: 27px;
		}
		#product {
			font-size: 30px;
			color: #F16544;
			text-shadow: 1px 1px 4px rgba(0,0,0,0.25);
		}
		#focused {
			font-size: 32px;
		}	
	}
	img {
		height: 26px;
		width: 26px;
		margin-bottom: -5px;
	}
}
#about, #skills, #contact {
	color: rgba(0,0,0,0.8);
}
#skills {
	.header {
		margin: 30px 0 30px;
		h1 {
			-webkit-text-stroke: 2px #F16544;
			text-shadow: 2px 2px 1px #F16544;
		}
	}
	.skill {
		font-size: 1.25em;
		i, img {
			margin-right: 15px;
		}
	}
}
#contact {
	.header {
		margin: 0 0 30px;
		h1 {
			// margin-top: -53px;
			-webkit-text-stroke: 2px #F16544;
			text-shadow: 2px 2px 1px #F16544;
		}
	}
    h2 {
        color: #F16544;
        margin-bottom: 0;
    }
    p {
    	a {
    		font-weight: 600;
            color: rgba(0,0,0,0.8);
    	}
        a:hover {
           color: rgba(0,0,0,0.6); 
        }
    	i {
    		text-decoration: none;
            color: #FF7E61;
    		margin: 0 0 0 5px;
        }
    }
}
