h1 {
	font-family: 'Arvo', serif;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 45px;
}
h1 a {
	text-decoration: underline;
}
h2 {
	font-family: 'Arvo', serif;
	letter-spacing: 1px;
	line-height: 40px;
}
h3 a {
	text-decoration: none;
}
h3 a:hover {
	text-decoration: none;
}
#hero {
	h1 {
		color: rgba(255,255,255,0.9);
	}
	h1 a {
		color: rgba(255,255,255,0.9);
	}
	h1 a:hover {
		color: rgba(255,255,255,0.7);
	}
	h2 {
		color: rgba(255,255,255,0.9);
	}
	h3 {
		color: #FFFFFF;
	}
	h3 a {
		color: rgba(255,255,255,0.9);
	}
	h3 a:hover {
		color: rgba(255,255,255,0.7);
	}	
}
#work, #skills, #contact {
	h1 {
		color: #F16544;
	}
	h1 a {
		color: #F16544;
	}
	h1 a:hover {
		color: #F16544;
	}
	h2 {
		color: #F16544;
	}
	h3 {
		color: #F16544;
	}
	h3 a {
		color: #F16544;
	}
	h3 a:hover {
		color: #F16544;
	}
}
