h1, h2, h3, h4, h5 {
	font-family: 'Arvo', serif;
}
h1 {
	letter-spacing: 1px;
	font-weight: 600;
}

.header {
	h2 {
		font-weight: 600;
		margin-top: -30px;
		margin-bottom: 0;
		color: #FFFFFF;
		-webkit-text-stroke: 2px var(--color-primary);
    text-shadow: 2px 2px 1px var(--color-primary);
	}
}
.no-wrap {
	white-space: nowrap;
}
#about {
	text-align: center;
	.header {
		margin: 0 0 30px;
		h1 {
			-webkit-text-stroke: 2px rgba(0,0,0,0.4);
			text-shadow: 2px 2px 1px rgba(0,0,0,0.25);
		}
	}
	#values {
		font-family: 'Arvo', serif;
		font-weight: 600;
		color: rgba(0,0,0,0.25);
		.primary-value {
			color: var(--color-primary);
			text-shadow: 1px 1px 4px rgba(0,0,0,0.25);
		}
		#intuitive {
			font-size: 30px;
		}
		#ui {
			font-size: 55px;
			@extend .primary-value;
		}
		#functional {
			font-size: 30px;
			@extend .primary-value;
		}
		#components {
			font-size: 27px;
		}
		#product {
			font-size: 30px;
			@extend .primary-value;
		}
		#focused {
			font-size: 32px;
		}	
	}
	img {
		height: 26px;
		width: 26px;
		margin-bottom: -5px;
	}
	color: rgba(0,0,0,0.8);
}
