:root {
  --space-s: 4px;
  --space-m: 8px;
  --space-l: 16px;
  --space-xl: 30px;
}
:root {
  --fontSize-xs: 12px;
  --fontSize-s: 16px;
  --fontSize-m: 20px;
  --fontSize-l: 24px;
  --fontSize-xl: 32px;
  --fontSize-2xl: 40px;
  --fontSize-3xl: 52px;
  --fontSize-4xl: 64px;
}
:root {
  --lineHeight-xs: 17px;
  --lineHeight-s: 20px;
  --lineHeight-m: 24px;
  --lineHeight-l: 30px;
  --lineHeight-xl: 38px;
  --lineHeight-2xl: 49px;
  --lineHeight-3xl: 62px;
  --lineHeight-4xl: 80px;
}
:root {
  --letterSpacing-xs: 0px;
  --letterSpacing-s: -0.15px;
  --letterSpacing-m: -0.3px;
  --letterSpacing-l: -0.45px;
  --letterSpacing-xl: -0.6px;
  --letterSpacing-2xl: -0.75px;
  --letterSpacing-3xl: -0.9px;
  --letterSpacing-4xl: -1.05px;
}
:root {
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 12px;
}
:root {
  --color-primary: #F16544;
  --color-primary-light: #FF7E61;
  --text-body: rgba(0, 0, 0, 0.8);
  --color-grey: rgba(0, 0, 0, 0.05);
  --color-white: rgba(255, 255, 255, 0.9);
  --color-white-hover: rgba(255, 255, 255, 0.8);
}
